
/.vscode
/excedentes_old
excedentes/excedentes.conf
/excedentes/excedentes.conf.lock
/excedentes/excedentes.log
/excedentes/H2.conf.lock
/excedentes/Pozo.conf.lock
/excedentes/excedentes (copia).conf
/excedentes/H1.conf
/excedentes/H1.conf.lock
/excedentes/H2.conf
/excedentes/H3.conf
/excedentes/H3.conf.lock
/excedentes/H4.conf
/excedentes/H4.conf.lock
/excedentes/led.conf
/excedentes/led.conf.lock
/excedentes/Pozo.conf
/excedentes/termo.conf
/excedentes/termo.conf.lock
/excedentes/__pycache__
/excedentes_old/salidaSol.py
/excedentes_old/solsol.py
web/excedentes/__pycache__/views.cpython-310.pyc
web/solarMQTT/__pycache__/settings.cpython-310.pyc
web/excedentes/__pycache__/__init__.cpython-310.pyc
web/excedentes/__pycache__/admin.cpython-310.pyc
web/excedentes/__pycache__/apps.cpython-310.pyc
web/excedentes/__pycache__/models.cpython-310.pyc
web/excedentes/__pycache__/urls.cpython-310.pyc
web/excedentes/__pycache__/views.cpython-310.pyc
web/excedentes/migrations/__pycache__/__init__.cpython-310.pyc
web/excedentes/migrations/__pycache__/0001_initial.cpython-310.pyc
web/excedentes/migrations/__pycache__/0002_rename_instalacion_instalaciones.cpython-310.pyc
web/excedentes/migrations/__pycache__/0003_modos_dispositivos.cpython-310.pyc
web/excedentes/migrations/__pycache__/0004_alter_instalaciones_lcd.cpython-310.pyc
web/excedentes/migrations/__pycache__/0005_alter_actuadores_puerto_alter_instalaciones_lcd.cpython-310.pyc
web/excedentes/migrations/__pycache__/0006_alter_modos_timeoff_alter_modos_timeon.cpython-310.pyc
web/excedentes/migrations/__pycache__/0007_remove_dispositivos_mododia_and_more.cpython-310.pyc
web/excedentes/migrations/__pycache__/0008_alter_dispositivos_tiempo_reaccion.cpython-310.pyc
web/excedentes/migrations/__pycache__/0009_alter_modos_timeoff_alter_modos_timeon.cpython-310.pyc
web/excedentes/migrations/__pycache__/0010_alter_modos_timeoff_alter_modos_timeon.cpython-310.pyc
web/excedentes/migrations/__pycache__/0011_alter_modos_timeoff_alter_modos_timeon.cpython-310.pyc
web/excedentes/migrations/__pycache__/0012_alter_modos_timeoff_alter_modos_timeon.cpython-310.pyc
web/solarMQTT/__pycache__/__init__.cpython-310.pyc
web/solarMQTT/__pycache__/settings.cpython-310.pyc
web/solarMQTT/__pycache__/urls.cpython-310.pyc
web/solarMQTT/__pycache__/wsgi.cpython-310.pyc

/web/solarMQTT/__pycache__
/web/excedentes/__pycache__
/web/excedentes/__pycache__/mqtt.cpython-310.pyc
/web/db.sqlite3
/web/excedentes/__pycache__/__init__.cpython-310.pyc
/web/excedentes/migrations/__pycache__
/web/variables.env
web/excedentes_