
/.vscode
/excedentes_old
excedentes/excedentes.conf
/excedentes/excedentes.conf.lock
/excedentes/excedentes.log
/excedentes/H2.conf.lock
/excedentes/Pozo.conf.lock
/excedentes/excedentes (copia).conf
/excedentes/H1.conf
/excedentes/H1.conf.lock
/excedentes/H2.conf
/excedentes/H3.conf
/excedentes/H3.conf.lock
/excedentes/H4.conf
/excedentes/H4.conf.lock
/excedentes/led.conf
/excedentes/led.conf.lock
/excedentes/Pozo.conf
/excedentes/termo.conf
/excedentes/termo.conf.lock
/excedentes/__pycache__
/excedentes_old/salidaSol.py
/excedentes_old/solsol.py
excedentes/temp_downloads/*
web/excedentes/__pycache__/views.cpython-310.pyc
web/solarMQTT/__pycache__/settings.cpython-310.pyc
web/excedentes/__pycache__/__init__.cpython-310.pyc
web/excedentes/__pycache__/admin.cpython-310.pyc
web/excedentes/__pycache__/apps.cpython-310.pyc
web/excedentes/__pycache__/models.cpython-310.pyc
web/excedentes/__pycache__/urls.cpython-310.pyc
web/excedentes/__pycache__/views.cpython-310.pyc
web/excedentes/migrations/__pycache__/__init__.cpython-310.pyc
web/excedentes/migrations/__pycache__/0001_initial.cpython-310.pyc
web/excedentes/migrations/__pycache__/0002_rename_instalacion_instalaciones.cpython-310.pyc
web/excedentes/migrations/__pycache__/0003_modos_dispositivos.cpython-310.pyc
web/excedentes/migrations/__pycache__/0004_alter_instalaciones_lcd.cpython-310.pyc
web/excedentes/migrations/__pycache__/0005_alter_actuadores_puerto_alter_instalaciones_lcd.cpython-310.pyc
web/excedentes/migrations/__pycache__/0006_alter_modos_timeoff_alter_modos_timeon.cpython-310.pyc
web/excedentes/migrations/__pycache__/0007_remove_dispositivos_mododia_and_more.cpython-310.pyc
web/excedentes/migrations/__pycache__/0008_alter_dispositivos_tiempo_reaccion.cpython-310.pyc
web/excedentes/migrations/__pycache__/0009_alter_modos_timeoff_alter_modos_timeon.cpython-310.pyc
web/excedentes/migrations/__pycache__/0010_alter_modos_timeoff_alter_modos_timeon.cpython-310.pyc
web/excedentes/migrations/__pycache__/0011_alter_modos_timeoff_alter_modos_timeon.cpython-310.pyc
web/excedentes/migrations/__pycache__/0012_alter_modos_timeoff_alter_modos_timeon.cpython-310.pyc
web/solarMQTT/__pycache__/__init__.cpython-310.pyc
web/solarMQTT/__pycache__/settings.cpython-310.pyc
web/solarMQTT/__pycache__/urls.cpython-310.pyc
web/solarMQTT/__pycache__/wsgi.cpython-310.pyc

/web/solarMQTT/__pycache__
/web/excedentes/__pycache__
/web/excedentes/__pycache__/mqtt.cpython-310.pyc
/web/db.sqlite3
/web/excedentes/__pycache__/__init__.cpython-310.pyc
/web/excedentes/migrations/__pycache__
/web/variables.env
web/excedentes_
excedentes/downloads/export_PrecioDeLaEnergiaExcedentariaDelAutoconsumoParaElMecanismoDeCompensacionSimplificada(PVPC)_2026-04-09_23_24.json
excedentes.log
excedentes.log
Fronius_data_sheets/42,0410,2030.pdf
Fronius_data_sheets/42,0410,2049 (1).pdf
Fronius_data_sheets/42,0410,2049.pdf
Fronius_data_sheets/42,0410,2649.pdf
Fronius_data_sheets/Descripcio materies optatives - ESO2.pdf
Fronius_data_sheets/gen24-modbus-api-external-docs.zip
Fronius_data_sheets/SE_DS_Fronius_Revamping_ES.pdf
Fronius_data_sheets/SE_DS_Fronius_Symo_ES.pdf
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events_EN.zip
Fronius_data_sheets/SE_OI_Argeno_Modbus_Sunspec_Maps_EN.zip
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/_CHANGELOG.TXT
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/_INFO.TXT
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/.~lock.Inverter_Register_Map_Float_v1.0_with_SYMOHYBRID_MODEL_124.xlsx#
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/all.json
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/Evt1.csv
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/EvtVnd1-4_All.csv
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/EvtVnd1-4_Galvo.csv
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/EvtVnd1-4_IGPlus.csv
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/EvtVnd1-4_Primo.csv
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/EvtVnd1-4_Symo.csv
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/Fronius State Codes & Event Flags 1.0.xlsx
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/FroniusEventFlags.json
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/Galvo_State_Codes.csv
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/galvo.json
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/IG_Sensor_Card_Register_Map_Float_and_Int&SF_v1.0.xlsx
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/IG_String_Control_Register_Map_Float_and_Int&SF_v1.0.xlsx
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/IGPlus_State_Codes.csv
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/igplus.json
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/Inverter_Register_Map_Float_v1.0_with_SYMOHYBRID_MODEL_124.xlsx
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/Inverter_Register_Map_Int&SF_v1.0_with_SYMOHYBRID_MODEL_124.xlsx
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/Meter_Register_Map_Float_v1.0.xlsx
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/Meter_Register_Map_Int&SF_v1.0.xlsx
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/Primo_State_Codes.csv
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/primo.json
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/St.csv
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/StVnd.csv
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/Symo_State_Codes.csv
Fronius_data_sheets/SE_EI_Modbus_Sunspec_Maps_State_Codes_Events/symo.json
excedentes.log
excedentes/inyeccion_0_kk.py
excedentes/inyeccion_0.py
excedentes/inyeccion_0_modbus_lectura_de_consumo.py
web/logs/*
