/* DASHBOARD */
<<<<<<< HEAD
=======
.dashboard td, .dashboard th {
    word-break: break-word;
}
>>>>>>> 7ac3d760cfa05083e5d1c3ec4c1277d993f18c89

.dashboard .module table th {
    width: 100%;
}

.dashboard .module table td {
    white-space: nowrap;
}

.dashboard .module table td a {
    display: block;
    padding-right: .6em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
    overflow: hidden;
    text-overflow: ellipsis;
}
