
body{
	background: #eceded;
}
.page-header{
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #000000; 
	background: #8898af;
	margin: 0 0 25px;
	padding: 20px; 
	border-radius: 35px 0px 35px 0px; 
	-moz-border-radius: 35px 0px 35px 0px; 
	-webkit-border-radius: 35px 0px 35px 0px; 
	border: 2px solid #5878ca;
	align-items: center;
	word-break:break-all;
	margin: 0 0 1em 1em;
}

ESTE DOCUMENTO NO ES!!!!!

.bloque{
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #000000; 
	background: #ffffff;
	margin: 0 0 25px;
	padding: 20px; 
	border-radius: 35px 0px 35px 0px; 
	-moz-border-radius: 35px 0px 35px 0px; 
	-webkit-border-radius: 35px 0px 35px 0px; 
	border: 2px solid #5878ca;
	float: left;
	display: flex;
	align-items: center;
	word-break:break-all;
	margin: 0 0 1em 1em;
	}

.formulario{
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
	}

.leyenda {
	font-size: 10pt;
	
	}

.leyenda h2{
	font-size: 12pt;
	}

.formLeyenda{
	border-style: solid;
	border-width: thin;
	display: flex; 
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
	}

.cajita { 
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	color: #ffffff; 
	background: #889ccf;
	margin: 0 0 25px;
	padding: 20px; 
	border-radius: 35px 0px 35px 0px; 
	-moz-border-radius: 35px 0px 35px 0px; 
	-webkit-border-radius: 35px 0px 35px 0px; 
	border: 2px solid #5878ca;
	/*float: left;
	display: flex;*/
	align-items: center;
	word-break:break-all;
	margin: 0 0 1em 1em;
}

.green_dot {
  height: 25px;
  width: 25px;
  background-color: #00ff00;
  border-radius: 50%;
  display: inline-block;
}

.red_dot {
  height: 25px;
  width: 25px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}

.grey_dot {
  height: 25px;
  width: 25px;
  background-color: #cccccc;
  border-radius: 50%;
  display: inline-block;
}

.red_text {
  color: red;
  background-color: #ff0000;
}

.green_text {
  color: green;
}
