{% extends 'excedentes/base.html' %}

{% block head %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"
      type="text/javascript"
    ></script>
    <script type="text/javascript">
      datos = {"instalacion": {"produccion": 0.0, "excedente": 0.0}, "dispositivos": {"termo": {"consumo": 0.0, "tiempo_hoy": 0, "manual": false}, "pozo": {"consumo": 0.0, "tiempo_hoy": 0, "manual": false}, "H1": {"consumo": 0.0, "tiempo_hoy": 0, "manual": false}, "H2": {"consumo": 0, "tiempo_hoy": 0, "manual": true}, "H3": {"consumo": 0.0, "tiempo_hoy": 0, "manual": false}, "H4": {"consumo": 0, "tiempo_hoy": 0, "manual": false}}}

      
      google.charts.load("current", { packages: ["gauge"] });
      google.charts.setOnLoadCallback(drawChart);

      setInterval(function () {
          solicitaDatos();
        }, 2000);

        function solicitaDatos(){
          conexion = new XMLHttpRequest();
          conexion.onreadystatechange = procesaDatos;
          conexion.open('GET', 'get_data', true);
          conexion.send();
        }

        function procesaDatos(){
            if (conexion.readyState == 4){
              datos = JSON.parse(conexion.responseText);
            }
            for (let d in datos["dispositivos"]){
              if (datos["dispositivos"][d]["consumo"] > 0){
                document.getElementById("boton_on_"+d).checked = true;
              }else{
                document.getElementById("boton_on_"+d).checked = false;
              }
              if (datos["dispositivos"][d]["manual"]){
                document.getElementById("boton_manual_"+d).checked = true;
                document.getElementById("boton_on_"+d).disabled = false;
              }else{
                document.getElementById("boton_manual_"+d).checked = false;
                document.getElementById("boton_on_"+d).disabled = true;
              }
            }
        }

      function drawChart() {
        var data_produccion = google.visualization.arrayToDataTable([
          ["Label", "Value"],
          ["Produccion", 0],
        ]);

        var data_excedente = google.visualization.arrayToDataTable([
          ["Label", "Value"],
          ["Excedente", 0],
        ]);

        var data_consumo = google.visualization.arrayToDataTable([
          ["Label", "Value"],
          ["Consumo", 0],
        ]);

        var options_produccion = {
          width: 400,
          height: 120,
          redFrom: 0,
          redTo: 1250,
          yellowFrom: 1250,
          yellowTo: 3750,
          greenFrom: 3750,
          greenTo: 5000,
          minorTicks: 5,
          min: 0,
          max: 5000,
        };

        var options_excedente = {
          width: 480,
          height: 144,
          redFrom: 3500,
          redTo: 5000,
          yellowFrom: 2000,
          yellowTo: 3500,
          greenFrom: -300,
          greenTo: 300,
          minorTicks: 5,
          min: -5000,
          max: 5000,
        };

        var options_consumo = {
          width: 400,
          height: 120,
          redFrom: 7500,
          redTo: 10000,
          yellowFrom: 5000,
          yellowTo: 7500,
          greenFrom: 0,
          greenTo: 2000,
          minorTicks: 5,
          min: 0,
          max: 10000,
        };

        var chart_produccion = new google.visualization.Gauge(
          document.getElementById("chart_produccion_div")
        );
        var chart_excedente = new google.visualization.Gauge(
          document.getElementById("chart_excedente_div")
        );
        var chart_consumo = new google.visualization.Gauge(
          document.getElementById("chart_consumo_div")
        );
        chart_produccion.draw(data_produccion, options_produccion);
        chart_excedente.draw(data_excedente, options_excedente);
        chart_consumo.draw(data_consumo, options_consumo);

        setInterval(function () {
          data_produccion.setValue(0, 1, datos['instalacion']['produccion']);
          chart_produccion.draw(data_produccion, options_produccion);
        }, 500);

        setInterval(function () {
          data_excedente.setValue(0, 1, datos['instalacion']['excedente']);
          chart_excedente.draw(data_excedente, options_excedente);
        }, 500);

        setInterval(function () {
          data_consumo.setValue(0, 1, datos['instalacion']['produccion']+datos['instalacion']['excedente']);
          chart_consumo.draw(data_consumo, options_consumo);
        }, 500);

        {% for d in dispositivos %}
          var data_{{d.nombre}} = google.visualization.arrayToDataTable([
            ["Label", "Value"],
            ["{{d.nombre}}", 0],
          ]);

          var options_{{d.nombre}} = {
            width: 300 ,
            height: 90,
            redFrom: {{ d.power_medio_alto }},
            redTo: {{ d.power_max }},
            yellowFrom: {{ d.power_medio }},
            yellowTo: {{ d.power_medio_alto }},
            greenFrom: {{ 0 }},
            greenTo: {{ d.power_min }},
            minorTicks: 5,
            min: {{ 0 }},
            max: {{ d.power_max }},
          };

          var chart_{{d.nombre}} = new google.visualization.Gauge(
            document.getElementById("chart_{{d.nombre}}")
          );

          chart_{{ d.nombre }}.draw(data_{{d.nombre}}, options_{{d.nombre}});

          setInterval(function() {
            data_{{d.nombre}}.setValue(0, 1, datos['dispositivos']["{{d.nombre}}"]['consumo']);
            chart_{{d.nombre}}.draw(data_{{d.nombre}}, options_{{d.nombre}});
          }, 2000);
        {% endfor %}

        var data_termo = google.visualization.arrayToDataTable([
          ["Label", "Value"],
          ["Termo", 0],
        ]);

        var options_termo = {
          width: 300 ,
          height: 90,
          redFrom: 1350,
          redTo: 1800,
          yellowFrom: 450,
          yellowTo: 1350,
          greenFrom: 0,
          greenTo: 1350,
          minorTicks: 5,
          min: 0,
          max: 1800,
        };
    
        var chart_termo = new google.visualization.Gauge(
          document.getElementById("chart_termo")
        );
        
        chart_termo.draw(data_termo, options_termo);

        setInterval(function () {
          data_termo.setValue(0, 1, datos['dispositivos']['termo']['consumo']);
          chart_termo.draw(data_termo, options_termo);
        }, 500);
      }
    </script>
    {% endblock %}
  
    {% block content %}
    <div id="instalacion_status" class="container cajita">
      <div class="row" style="background-color: rgb(230, 139, 21)">
        <div id="chart_produccion_div" class="col align-self-end"></div>
        <div id="chart_excedente_div" class="col align-self-center"></div>
        <div id="chart_consumo_div" class="col align-self-end"></div>
      </div>
    </div>
    <div id="dispositivos" class="container  cajita">
      <div class="row" style="background-color: aquamarine">

      {% for d in dispositivos %}
        <div class="col align-self-center">
          <div id="chart_{{d.nombre}}" class="col align-self-center"></div>
          <div class="form-check form-switch">
            {% if d.manual %}
              <input class="form-check-input" type="checkbox" role="switch" id="boton_manual_{{d.nombre}}" checked disabled>
              <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Manual</label>
            {% else %}
              <input class="form-check-input" type="checkbox" role="switch" id="boton_manual_{{d.nombre}}">
              <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Manual</label>
            {% endif %}
          </div>
          <div class="form-check form-switch">
            {% if d.consumo > 0 %}
              <input class="form-check-input" type="checkbox" role="switch" id="boton_on_{{d.nombre}}" checked disabled>
              <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">On</label>
            {% else %}
            <input class="form-check-input" type="checkbox" role="switch" id="boton_on_{{d.nombre}}">
            <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">On</label>
            {% endif %}
          </div>
        </div>
      {% endfor %}

          </div>
        </div>
      </div>
    </div>
    <script>
     // MQTTconnect();
    </script>
    {% endblock %}
 