{% extends 'excedentes/base.html' %}

{% block content %}
<section class="container-md">
    <div class="row card cajita">
        <div class="col-md-12 card-body">
            <h5 class="card-tittle">Dispositivo: {{ dispositivo.nombre }}</h5>
            <p class="card-text">Tipo: {{ dispositivo.tipo }}</p>
            <p class="card-text">Power: {{ dispositivo.power }}</p>
            <p class="card-text">Ardu: {{ dispositivo.ardu }}</p>
            <p class="card-text">Pin: {{ dispositivo.pin }}</p>
            <p class="card-text">PinPower: {{ dispositivo.pinPower }}</p>
            <p class="card-text">MinPower: {{ dispositivo.minPower }}</p>
            <p class="card-text">Tiempo_reaccion: {{ dispositivo.tiempo_reaccion }}</p>
            <p class="card-text">Modos: 
                <ul><li class="card-text">Lunes: {{ dispositivo.modoLunes }}</li>
                    <li class="card-text">Martes: {{ dispositivo.modoMartes }}</li>
                    <li class="card-text">Miercoles: {{ dispositivo.modoMiercoles }}</li>
                    <li class="card-text">Jueves: {{ dispositivo.modoJueves }}</li>
                    <li class="card-text">Viernes:  {{ dispositivo.modoViernes }}</li>
                    <li class="card-text">Sabado:  {{ dispositivo.modoSabado }}</li>
                    <li class="card-text">Domingo:  {{ dispositivo.modoDomingo }}</li>
                </ul></p>
            
            <div class="mt-3">
                <a href="{% url 'reset_dispositivo' dispositivo_id=dispositivo.pk %}" class="btn btn-warning">
                    <i class="bi bi-arrow-clockwise"></i> Reset Device
                </a>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}