{% extends 'excedentes/base.html' %}

{% block content %}
    <h1>Gráfico de Líneas de Datos Históricos</h1>
    <div id="chart_div" style="width: 100%; height: 500px;"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['fecha_hora', 'Produccion', 'Autoconsumo', 'Consumo'],
                {% for hp in historico %}
                    ['{{ hp.fecha_hora }}', {{ hp.produccion|floatformat:0 }}, {{ hp.autoconsumo|floatformat:0 }}, {{ hp.consumo|floatformat:0 }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Datos Históricos',
                seriesType: 'area',
                series: { 2: { type: 'line', curveType: 'function' } },
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    </script>
{% endblock %}
