{% extends 'excedentes/base.html' %}

{% block content %}
    <h1>Gráfico de Líneas de Datos Históricos</h1>
    <div id="line_chart" style="width: 100%; height: 500px;"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['fecha_hora', 'produccion', 'excedente'],
                {% for hp in historicos %}
                    ['{{ hp.fecha_hora }}', {{ hp.produccion|floatformat:0 }}, {{ hp.excedente|floatformat:0 }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Datos Históricos',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('line_chart'));

            chart.draw(data, options);
        }
    </script>
{% endblock %}
